In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.formula.api import logit

import pylab as pl
import seaborn as sns

mpl.style.use('fivethirtyeight')
%matplotlib inline

In [10]:
srv_url = '/Users/katherinebroderick/Dropbox/Spring2016/Analytics_Enterprise/RatsVTrash/311_Service_Requests.csv'
trash_url = '/Users/katherinebroderick/Dropbox/Spring2016/Analytics_Enterprise/RatsVTrash/Big_Belly_Alerts_2014.csv'

srvdf = pd.read_csv(srv_url)

trashdf = pd.read_csv(trash_url)

srvdf.describe()

,CASE_ENQUIRY_ID,ClosedPhoto,fire_district,city_council_district,neighborhood_services_district,precinct,LOCATION_ZIPCODE,Property_ID,LATITUDE,LONGITUDE
count,1.018800e+04,0,9744.000000,9765.000000,9765.000000,9746.000000,9216.000000,9767.000000,10188.000000,10188.000000
mean,1.010010e+11,NaN,6.910406,5.285919,9.786790,1191.407552,2127.299913,96483.867001,42.336915,-71.085294
std,4.419876e+05,NaN,3.221457,2.998698,4.641932,722.351906,17.056018,79123.128419,0.027839,0.037954
min,1.010003e+11,NaN,1.000000,0.000000,0.000000,101.000000,2108.000000,16.000000,42.233000,-71.174300
25%,1.010005e+11,NaN,4.000000,2.000000,6.000000,506.000000,2119.000000,37266.000000,42.315700,-71.114800
50%,1.010010e+11,NaN,7.000000,6.000000,11.000000,1207.000000,2125.000000,84085.000000,42.346300,-71.071800
75%,1.010014e+11,NaN,11.000000,8.000000,14.000000,2001.000000,2134.000000,131733.000000,42.358400,-71.058700
max,1.010018e+11,NaN,12.000000,9.000000,15.000000,2213.000000,2467.000000,419471.000000,42.394300,-70.996600

In [9]:
trashdf.describe()

      collection
count      51440
mean    0.458923
std     0.498315
min        False
25%            0
50%            0
75%            1
max         True